*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background:burlywood;
    background-position:center;
    background-size:cover;
    height:108vh;
}
.navbar{
    width:1500px;
    height:95px;
    margin:auto;
}
.icon{
    width:300px;
    float:left;
    height:90px;
}
.logo{
    color:aliceblue;
    font-size:40px;
    font-family:Segoe UI;
    padding-left:20px;
    float:left;
    padding-top:20px;
}
.menu{
    width:620px;
    float:right;
    height:100px;
}
ul{
    float:right;
    display:flex;
    justify-content:center;
    align-items:center;
}
ul li{
    list-style:none;
    margin-right:70px;
    margin-top:38px;
    font-size:20px;
}
ul li a{
    color:aliceblue;
    text-decoration:none;
    font-family:Segoe UI;
    font-weight:bold;
}
.content{
    width:1500px;
    height:auto;
    margin:auto;
    color:aliceblue;
    position:relative;
}
.content .par{
    padding-left:30px;
    padding-bottom:45px;
    font-family:Segoe UI;
    letter-spacing:1px;
    line-height:50px;
}
.content h1{
    font-family:Segoe UI;
    font-size:68px;
    padding-left:25px;
    margin-top:10%;
    letter-spacing:3px;
}
.content .cn{
    width:200px;
    height:75px;
    background:chocolate;
    border:none;
    margin-bottom:20px;
    margin-left:40px;
    font-size:25px;
    border-radius:20px;
}